@import url('https://fonts.googleapis.com/css2?family=Norican&display=swap');

@import "tailwindcss";

@layer base {
    html {
        font-family: "Norican", sans-serif;
    }
}

	/* Put this at the end: shadow-lg rounded-lg */

@layer components {
	
	.background {
        @apply w-dvw h-dvh bg-gradient-to-r from-indigo-600 to-purple-600 overflow-hidden flex flex-col justify-center items-center px-4 py-8;
    }

	.nav-bar {
		@apply sticky top-0 left-0 right-0 z-50 bg-gradient-to-r from-indigo-600 to-purple-600 shadow-md;
	}

	.nav-container {
		@apply container mx-auto flex items-center justify-between p-4;
	}

	.nav-link {
		@apply px-3 py-2 font-serif text-white hover:text-blue-600 focus:outline-none focus-visible:outline focus-visible:outline-blue-600;
	}

	.header-title {
		@apply text-6xl font-bold font-serif mb-4 text-center text-white;
	}

	.header-subtitle {
		@apply text-3xl font-medium text-gray-50 mb-4 text-center;
		font-family: 'Norican', cursive;
	}

	.header-details {
		@apply text-xl font-light font-serif  text-white mb-8 text-center;
	}

	.header-countdown {
		@apply flex text-white justify-center gap-4 mb-8;
	}
	.header-button {
		@apply  bg-blue-600 text-white px-6 py-2 rounded hover:bg-blue-700 transition;
	}
	.event-locations {
		@apply bg-white p-6 mt-8 grid grid-cols-1 sm:grid-cols-2 gap-6 text-center;
	}

	.divider {
		@apply w-1/12 mx-auto my-4 border-t-4 border-black
	}

	.ceremony-icon {
		@apply mx-auto mb-2;
		background-image: url(../icons/wedding-rings.png);
		background-size: contain;
		background-repeat: no-repeat;
		width: 50px;
		height: 50px;
	}

	.party-icon {
		@apply mx-auto mb-2;
		background-image: url(../icons/wine-wedding.png);
		background-size: contain;
		background-repeat: no-repeat;
		width: 50px;
		height: 50px;
	}

	.salon-icon {
		@apply mx-auto mb-2;
		background-image: url(../icons/wedding-arch.png);
		background-size: contain;
		background-repeat: no-repeat;
		width: 50px;
		height: 50px;
	}

	.location-icon {
		@apply mx-auto mb-2;
		background-image: url(../icons/location.svg);
		background-size: contain;
		background-repeat: no-repeat;
		width: 50px;
		height: 50px;
	}
}